<html>
    <body>
        <table>
            <tr>
                <td style="width: 100px">Número:</td>
                <td>$agendamento.id</td>
            </tr>
            <tr>
                <td style="width: 120px">Data da Montagem:</td>
                <td>$dateToll.format('d-M-yyyy HH:mm',$agendamento.dataMontagem)</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>$agendamento.cliente.nome</td>
            </tr>
        </table>
        
        <br/>
        <table border="1" cellspacing="0" cellpadding="3">
            <tr>
                <th>Produto</th>
            </tr>
            #foreach ($item in $agendamento.itens)
            	#if ($item.produto.id)
	            <tr>
	                <td>$item.produto.nome</td>
	            </tr>
	            #end
            #end
        </table>
    </body>
</html>